# Default ignored files
/shelf/
/workspace.xml

/httpRequests/
/code/yolo.h5
/datasets
/code/ML_Subsystem/models
/code/pollividis_env
/code/api/ML_Subsystem/models
/code/api/ML_Subsystem/__pycache__
/code/api/__pycache__